.footer{
  color: white;
  background-color: rgba(39, 45, 78, 1);
  padding: 3% 5%;
  margin-top: 3%;
  .navItems{
    padding-bottom: 1%;
    div{
      margin: 15px 0;
      transition: 0.3s all linear;
      cursor: pointer;
      &:hover{
        font-size: 25px;
        color: #6e75fa;
        text-shadow: 0 0 3px #beb8f6;
      }
    }
  }
  .whiteCircle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
    margin: auto 0;
    z-index: 11;
  }
  .blueCircle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #9396A7;
    margin: auto 0 auto -20px;
  }
  .visa{
    width: 50px;
  }
}